<div id="CookielawBanner">
    <div class="columns is-centered is-vcentered">
        <div class="column is-narrow has-text-centered">
            <p class="is-size-7">Usamos cookies para mejorar nuestro sitio. Ver nuestra <a
                    href="{% url 'politica_privacidad' %}">política de privacidad</a>.</p>
        </div>
        <div class="column is-narrow has-text-centered">
            <button onclick="javascript:Cookielaw.createCookielawCookie();" class="button is-danger is-small">
                Entendido
            </button>
        </div>
    </div>
</div>