{% extends 'catalogo/base.html' %}
{% load static %}

{% block title %}
    Documentación
{% endblock %}

{% block cuerpo %}
    <section class="hero cabecera">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-size-1 pb-5">Política de Privacidad</h1>
                <p>
                    Esta política de privacidad ha sido compilada para servir mejor a quienes se preocupan con cómo su
                    "Información Personalmente Identificable" (IPI) es usada en línea. IPI, tal y como es descrita en la
                    ley estadounidense de privacidad, así como seguridad de la información, es información que puede ser
                    usada por sí misma o con otra información, para identificar, contactar o localizar una persona en
                    particular, o identificar un individuo en contexto. Por favor lea nuestra política de privacidad con
                    cuidado para tener un claro entendimiento de cómo recolectamos, utilizamos, protegemos o en general,
                    manejamos su Información Personalmente Identificable de acuerdo con nuestro sitio web.
                </p>
            </div>
        </div>
    </section>
    <section class="section container content" id="politica_privacidad">
        <h2>
            ¿Qué información personal recolectamos de las personas que visitan nuestro blog, sitio web o aplicación?
        </h2>
        <p>
            A través de Google Analytics, recolectamos su IP e información de navegador para ayudarle con su experiencia
            (e.g. recordar la selección de lenguaje, seguridad, etc.). Por favor note que su dirección IP es recolectada
            solo en un formato anonimizado. Puede leer más información acerca de esto <a
                href="https://support.google.com/analytics/answer/2763052" target="_blank">aquí</a>.
        </p>
        <h2>
            ¿Cuándo recolectamos información?
        </h2>
        <p>
            Su información IP y de navegador es automáticamente recolectada cuando navega por el sitio. Otra información
            es recolectada solo cuando explícitamente nos la provee (e.g. cuando nos envía un correo electrónico a
            través de la forma de contacto).
        </p>
        <h2>
            ¿Cómo utilizamos su información?
        </h2>
        <p>
            Podríamos utilizar la información que recolectamos de usted cuando nos contacta, navega por el sitio, o
            utiliza ciertas otras características del sitio, en las siguientes maneras:
        </p>
        <ul>
            <li>Para personalizar su experiencia del catálogo.</li>
            <li>Para mejorar nuestro sitio web.</li>
        </ul>
        <h2>¿Cómo protegemos su información?</h2>
        <ul>
            <li>Escaneamos regularmente por Malware.</li>
            <li>Anonimizamos su dirección IP antes de registrarla.</li>
            <li>Su información personal está contenida detrás de redes seguras y es sólo accesible por un número
                limitado de personas que tienen derechos especiales de acceso a tales sistemas, y se les es requerido
                mantener la información confidencial. Adicionalmente, todo nuestro sitio web está encriptado vía
                tecnología Secure Socket Layer (SSL).
            </li>
            <li>Implementamos una variedad de medidas de seguridad cuando un usuario entre, envía o accede a su
                información para mantener la seguridad de su información personal.
            </li>
        </ul>
        <h2>
            ¿Cuánto tiempo se mantiene guardada su información?
        </h2>
        <p>
            Hemos configurado nuestra cuenta de Google Analytics para almacenar información a nivel-usuario y
            nivel-evento por 26 meses. Después de ese periodo es borrada automáticamente de forma mensual.
        </p>
        <h2>¿Usamos 'cookies'?</h2>
        <p>Sí. Las Cookies son archivos pequeños que un sitio o proveedor de servicios transfiere a su disco duro a
            través de su navegador (si usted lo permite) que posibilitan a los sistemas del sitio o proveedor de
            servicios el reconocer su navegador, capturar y recordar cierta información. También son usados para
            ayudarnos a entender el uso del catálogo en base a actividad previa o actual en el sitio. También usamos
            cookies para ayudarnos a compilar datos acumulados acerca del tráfico en el sitio e interacción con el
            sitio, de manera que podamos ofrecer mejores experiencias de uso del catálogo.</p>
        <p>Usamos cookies para:</p>
        <ul>
            <li>Compilar datos acumulados acerca del tráfico en el sitio e interacción con el sitio, de manera que
                podamos ofrecer mejoras a las experiencias y herramientas en el futuro. También podemos usar servicios
                de terceras partes de confianza que registren esta información en nuestro nombre.
            </li>
        </ul>
        <p>Puedes escoger que tu computador te advierta cada vez que se envíe una cookie, o puedes escoger apagar la
            opción de cookies por completo. Usted puede hacer esto a través de las opciones de su navegador. Cada
            navegador es un poco diferente, revise el menú de ayuda en su navegador para aprender la manera correcta de
            modificar sus cookies.</p>
        <p>Si apaga la opción de cookies, podría reducirse su experiencia de usuario, por ejemplo, sus preferencias de
            lenguaje no se guardarán. También, las cookies se requieren para el correcto funcionamiento de nuestra forma
            de contacto.</p>
        <h2>Declaración de Terceras Partes</h2>
        <p>No vendemos, transamos o de otra forma transferimos a externos su Información Personalmente Identificable.
            Esto no incluye a compañeros de hosting y otras partes que nos asisten en la operación de nuestro sitio web,
            manejar nuestro funcionamiento, o servir a nuestros usuarios, mientras que aquellas partes estén de acuerdo
            en mantener esta información confidencial. También podemos liberar información cuando su liberación es
            apropiada para cumplir con la ley, ejercer nuestra política del sitio, o proteger los derechos nuestros o de
            otros, su propiedad o seguridad.</p>
        <p>Sin embargo, Información No-Personalmente Identificable de visitantes puede ser provista a otras partes para
            mejorar el funcionamiento del sitio.</p>
        <h2>Google</h2>
        <p>No utilizamos Google AdSense en nuestro sitio, pero sí seguimos las interacciones de usuario con Google
            Analytics. Puedes encontrar más información respecto de las políticas de Google Analytics <a
                    href="https://support.google.com/analytics/answer/4597324" target="_blank">aquí</a>.</p>
        <p>Adicionalmente, utilizamos el servicio de Google reCaptcha para reducir el spam en nuestro sitio. El servicio
            reCaptcha de Google requiere el uso de cookies.</p>
        <p>Nosotros, en conjunto con terceras partes como Google, usamos cookies de origen (tales como las cookies de
            Google Analytics) y cookies de terceros u otros identificadores de terceros, juntos. Los utilizamos para
            compilar datos respecto a las interacciones de usuario para mejorar la experiencia de ellos.</p>
        <h2>Elección de no participar:</h2>
        <p>Es posible rechazar ser registrado por Google al usar la <a
                href="https://support.google.com/analytics/answer/181881" target="_blank">extensión para navegadores de
            Google Analytics para evitarlo</a>. Esto sólo detendrá a nuestro sitio de seguir la información que
            recolectamos con propósitos estadísticos. Todas las otras funcionalidades del sitio estarán disponibles para
            usted a pesar de todo.</p>
        <h2>
            Acta de Protección de la Privacidad En Línea de California
        </h2>
        <p>CalOPPA (siglas en inglés) es la primera ley estatal en la nación que requiere que sitios web comerciales y
            servicios online publiquen una política de privacidad. El alcance de la ley afecta más allá de California,
            requiriendo que cualquier persona o compañía en los Estados Unidos (y concebiblemente, el mundo) que opere
            sitios web recolectando Información Personalmente Identificable de consumidores de California, deba publicar
            una política de privacidad clara en su sitio web, declarando exactamente la información siendo recolectada y
            aquellos individuos o compañías con quienes está siendo compartida. Ver más en <a
                    href="https://consumercal.org/california-online-privacy-protection-act-caloppa/" target="_blank">este
                sitio web</a>.</p>
        <p>De acuerdo a CalOPPA, acordamos lo siguiente:</p>
        <ul>
            <li>Los usuarios pueden visitar el sitio anónimamente.</li>
            <li>Una vez que se crea la política de privacidad, se añadirá un enlace a ella en nuestra página principal
                o como mínimo, en la primera página importante después de entrar a nuestro sitio.
            </li>
            <li>Nuestro enlace a la política de privacidad incluye la palabra "Privacidad" y puede ser fácilmente
                encontrada en la página especificada más arriba.
            </li>
        </ul>
        <p>Se realizará una notificación de cualquier cambio en nuestra política de privacidad, en nuestra página de
            Política de Privacidad.</p>
        <h2>
            ¿Cómo nuestro sitio maneja señales de no seguir?
        </h2>
        <p>No podemos completamente honrar la señal de no seguir en nuestro sitio web. Esto es requerido para evitar
            Cross Site Request Forgeries (CSRF), y para registrar si está de acuerdo con nuestra política de privacidad
            o no. Adicionalmente, algunas funcionalidades (por ejemplo, reCaptcha de Google) requiere cookies
            adicionales que nosotros no controlamos.</p>
        <h2>
            ¿Nuestro sitio permite el seguimiento del comportamiento de terceros?
        </h2>
        <p>
            También es importante tener en cuenta que no permitimos el seguimiento del comportamiento de terceros.
        </p>
        <h2>
            COPPA (Acta de Protección de la Privacidad En Línea de Niños - sigla en inglés)
        </h2>
        <p>Cuando se trata de la recolección de información personal de niños menores de 13 años de edad, el Acta de
            Protección de la Privacidad En Línea de Niños (COPPA, en inglés) pone a los padres en control. La Comisión
            Federal de Comercio, la agencia de protección de consumidores en Estados Unidos, aplica el reglamento de
            COPPA, el cual establece qué es lo que operadores de sitios web y servicios en línea deben hacer para
            proteger la privacidad y seguridad de los niños en línea.</p>
        <p>No orientamos nuestro contenido específicamente a niños menores de 13 años.</p>
        <h2>Prácticas de Información Justa</h2>
        <p>El principio de Prácticas de Información Justa forman la columna vertebral de la ley de privacidad en los
            Estados Unidos y los conceptos que ellos incluyen han jugado un rol significativo en el desarrollo de leyes
            de protección de datos alrededor del mundo. Entender el principio de Prácticas de Información Justa y cómo
            deberían ser implementados es crítico para obedecer las variadas leyes de privacidad que protegen
            información personal.</p>
        <p>Para estar alineados con las Prácticas de Información Justa, tomaremos las siguientes acciones contingentes,
            si una violación de nuestra seguridad llegase a ocurrir:</p>
        <ul>
            <li>Le notificaremos vía correo electrónico dentro de siete días hábiles</li>
            <li>También adscribimos al principio de Vestido Rojo, el cual requiere que los individuos tienen el derecho
                a legalmente perseguir derechos que correspondan, en contra de recolectores y procesadores de
                información que fallen en su adherencia a la ley. Este principio requiere no solo que los individuos
                tengan derechos exigibles contra los usuarios de los datos, sino también que los individuos recurran a
                los tribunales o agencias gubernamentales para investigar y/o enjuiciar el incumplimiento por parte de
                los procesadores de datos.
            </li>
        </ul>
        <h2>
            Comunicaciones por Correo Electrónico
        </h2>
        <p>Sólo recolectamos su correo electrónico cuando se comunica directamente con nosotros a través del formulario
            de Contacto. No guardamos esa información en nuestro servidor y no la utilizamos para nada más que responder
            a sus consultas, y/o otras peticiones o preguntas.</p>
        <h2>Contáctenos</h2>
        <p>
            Si existe cualquier consulta respecto a esta política de privacidad, puede contactarnos utilizando <a
                href="{% url 'contacto' %}">este formulario</a>.
        </p>
    </section>
{% endblock %}